<!DOCTYPE html>
<html>
	<style>
    	.content{
        	width:100%;
        }
        .title{
         	width:100%;
            background-color:#dddd;
            text-align:center;
        }
    	h1{
        	color:#0f244f;
        }
        p{
        	width:100%;
            text-align:center;
        }
    </style>
    <head>

    </head>
    <body>
    	<div class="content">
        	<div class="title">
              <h1>CORREO ENVIADO</h1>
          	</div>
            <p> Hola {{ email }} revisa tu correo para verificar tu cuenta</p>
        </div>
    </body>
    
</html>