* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.content {
  font-family: "Montserrat", sans-serif;
  width: 75%;
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 80px;
}

.registro-total {
  position: relative;
}

.img-encabezado {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

#Imagen-Medico {
  border: 0;
  max-width: 100%;
  height: auto;
}

.img-pie {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
}

#Imagen-pie {
  border: 0;
  max-width: 100%;
  height: auto;
}

.img-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  margin-left: 20px;
}

#logo{
  max-width: 100%;
}

.head-titulo{
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-registro-medicos h1 {
  text-align: center;
  font-size: 40px;
  color: #be0f1b;
}

.header-registro-medicos p {
  text-align: center;
  padding-top: 20px;
  color: rgb(61, 10, 10);
}

/* .content-registro {
    display: flex;
    flex-wrap: wrap;
  } */

input::placeholder {
  color: #868686;
}

.Todo {
  display: grid;
  grid-template-columns: auto auto;
}

.Todo div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#id_first_name {
  grid-column: 1 / 2;
}

#submit {
  width: 30%;
  margin-top: 30px;
  background-color: #851717;
  color: white;
}

.guardar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo .User {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-right: 5px;
  /* margin-right: 50px;     */
}

input,
select {
  height: 42px;
  border: 1px solid #851717;
  border-radius: 7px;
  width: 100%;
  padding: 10px 15px;
  color: rgb(133, 41, 41);
  transition: all 0.3s ease;
  margin-top: 5px;
}

label {
  font-size: 15px;
  font-weight: 200;
  color: rgb(61, 10, 10);
}

@media screen and (max-width: 900px) {
  .Todo {
    display: grid;
    grid-template-columns: auto;
  }
}

/* @media screen and(min-width: 992px) {
    .content-registro div {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .content-registro {
      max-width: 720px;
    }
  } 
  
  @media (min-width: 576px) {
    .content-registro {
      max-width: 540px;
    }
  } */
