* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.registro-total {
    position: relative;
}

.contenedor {
    font-family: "Montserrat", sans-serif;
    width: 75%;
    padding-top: 80px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 80px;
}

.img-encabezado {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}

#Imagen-Encabezado {
    border: 0;
    max-width: 100%;
    height: auto;
    filter: invert(11%) sepia(19%) saturate(6526%) hue-rotate(206deg) brightness(94%) contrast(97%);
}

.img-pie {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
}

#Imagen-pie {
    border: 0;
    max-width: 100%;
    height: auto;
    filter: invert(11%) sepia(19%) saturate(6526%) hue-rotate(206deg) brightness(94%) contrast(97%);
}

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin-left: 20px;
}

#Logo {
    max-width: 100%;
    filter: invert(11%) sepia(19%) saturate(6526%) hue-rotate(206deg) brightness(94%) contrast(97%);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado h1 {
    text-align: center;
    font-size: 40px;
    color: #0f244f;
}

.encabezado p {
    text-align: center;
    padding-top: 20px;
    color: #0f244f;
}
form{
    margin-top: 20px;
}
.contenido-formulario {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 116px 116px 116px 116px
}

.contenido-formulario div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.guardar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Boton-submit {
    width: 30%;
    margin-top: 30px;
    background-color: #0f244f;
    color: white;
}
#Boton-submit:hover {
    background-color: white;
    color: #0f244f;
}
label {
    font-size: 15px;
    font-weight: 200px;
    color: #0f244f;
}
input{
    height: 42px;
    border: 1px solid  #0f244f;
    border-radius: 7px;
    width: 100%;
    padding: 10px 15px;
    color:  #0f244f;
    transition: all 0.3s ease;
    margin-top: 5px;
}
.errorlist {
    color: red;
    list-style: none;
}
@media screen and (max-width: 900px) {
    .contenido-formulario{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
    }
}