{% load static %}
<!DOCTYPE html>



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>Reporte {{fecha|date:' d-M-Y'}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

</head>

<body id="body" onload="generatePDF()">
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Especialidad: {{medico.especialidad}}</p>
    <p>Dirección: {{medico.direccion}}</p>
    <p>Número Celular: {{medico.numero_celular}}</p>
    <p>Fecha de Generación de Reporte: {{fecha_creacion}} </p>


    <h3>
        <!-- Titulo del tipo de Reporte -->
        {% if tipo == 0 %} Reporte Diario {% endif %} {% if tipo == 1 %} Reporte Semanal {% endif %} {% if tipo == 2 %} Reporte Mensual {% endif %}
    </h3>


    <!-- Tabla de info -->
    <table>
        <tr>
            <!-- Fecha de reporte segun tipo -->
            {% if tipo == 0 %}
            <td>Fecha Reporte: {{fecha|date:' d-M-Y'}}</td>
            {% endif %} {% if tipo == 1 %}
            <td>Fecha Reporte: {{fecha|date:' d-M-Y'}} hasta {{fecha_fin|date:' d-M-Y'}}</td>
            {% endif %} {% if tipo == 2 %}
            <td>Fecha Reporte: {{fecha|date:' M-Y'}}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Turnos Totales</td>
            <td>{{turnos_totales}}</td>
        </tr>
        <tr>
            <td>Turnos Agendados</td>
            <td>{{turnos_agendados}}</td>
        </tr>
        <tr>
            <td>Completados</td>
            <td>{{turnos_completados}}</td>
        </tr>
        <tr>
            <td>No Completados</td>
            <td>{{turnos_incompletos}}</td>
        </tr>
        <tr>
            <td>Turnos No Agendados</td>
            <td>{{turnos_vacios}}</td>
        </tr>
        <tr>
            <td>Completados</td>
            <td>{{turnos_vacios_completados}}</td>
        </tr>
        <tr>
            <td>No Completados</td>
            <td>{{turnos_vacios_incompletos}}</td>
        </tr>
    </table>
    <script>
        function generatePDF() {
            console.log('sda')
            var doc = new jsPDF(); //create jsPDF object
            doc.fromHTML(document.getElementById("body"), // page element which you want to print as PDF
                15,
                15, {
                    'width': 170 //set width
                },
                function(a) {
                    doc.save("HTML2PDF.pdf"); // save file name as HTML2PDF.pdf
                });
        }
    </script>
</body>



</html>