<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>

<body>

    <header>
        <h1>Panel Medico</h1>
    </header>
    <nav>
        <ul>
            <li>Inicio</li>
            <li>Cuenta</li>
            <li>Cerrar Sesión</li>
        </ul>
    </nav>
    <main>
        {% block contenido %} {% endblock %}
    </main>

    <footer>
        Pie de Pagina
    </footer>


</body>

</html>