{% extends "medicos/base.html" %} {% load static %}{% block links %}{% endblock %} {% block contenido %}
<div class="panelmed-principal">
    <div class="create-date" id="panle_derecha">
        <div id="contenedor_formulario_crear_turno">
            <form class="date-form" action="" method="post">
                {% csrf_token %}
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{ form_crear_turno.fecha }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <input class="date-submit" type="submit" value="Crear">
            </form>
            {% if form_crear_turno.fecha.errors %}
            <dialog id='modal'>
                <div class='content-modal'>
                    <div class='modal-png'>
                        <img class='img-visto' src="{% static 'medicos/img/CitasMedicas.png' %}" alt='Visto'>
                    </div>
                    <div class='modal-msg'>
                        <p>{{form_crear_turno.fecha.errors}}</p>
                    </div>
                    <div class='modal-btn'>
                        <button type='button' id='btn-close-modal'>Aceptar</button>
                    </div>
                </div>
            </dialog>
            <script>
                const modal = document.querySelector('#modal');
                const cerrarmodal = document.querySelector('#btn-close-modal');
                modal.showModal();
                cerrarmodal.addEventListener('click', () => {
                    modal.close();
                });
            </script>
            <!-- <div class="mensaje">-- {{mensaje}} --</div> -->
            {% endif %}
        </div>
        <div id="controles_fecha">
            <a href="/medicos?fecha={{anterior_semana.day}}-{{anterior_semana.month}}-{{anterior_semana.year}}">Anterior
                {{anterior_semana}}</a>
            <a href="/medicos?fecha={{siguiente_semana.day}}-{{siguiente_semana.month}}-{{siguiente_semana.year}}">Siguiente
                {{siguiente_semana}}</a>
        </div>
    </div>
    <div id="contenedor_tabla_turno">
        <table class="datatable">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            {% for dia, turnos_dia in turnos.items %}
            <tr>
                <td colspan="5">
                    {{dia.day}}/{{dia.month}}/{{dia.year}}
                </td>
            </tr>
            {% for turno in turnos_dia %}
            <tr>
                <td>
                    {% if turno.completado %}
                    <a class="state-link" href="cambiar-estado-turno/{{turno.id}}/{{fecha_mostrada.day}}-{{fecha_mostrada.month}}-{{fecha_mostrada.year}}">
                        <div class="complete state-div">Completado</div>
                    </a> {% else %}
                    <a class="state-link" href="cambiar-estado-turno/{{turno.id}}/{{fecha_mostrada.day}}-{{fecha_mostrada.month}}-{{fecha_mostrada.year}}">
                        <div class="incomplete state-div">No Completado</div>
                    </a> {% endif %}
                </td>
                <td>{{turno.fecha|date:' H:i'}}</td>
                <td>{{turno.paciente}}</td>
                <td>{{pacientes|get_value:turno.id}}</td>
                <td class="delete-td">
                    <a class="delete-link" href="eliminar-turno/{{turno.id}}/{{fecha_mostrada.day}}-{{fecha_mostrada.month}}-{{fecha_mostrada.year}}">
                        <div class="delete"><img class="img-delete" src="{% static 'medicos/img/delete-icon-png-19.jpg' %}"></div>
                    </a>
                </td>
            </tr>
            {% endfor %} {% endfor %}
        </table>
    </div>
</div>

{% endblock %} {% block scripts %}

<script>
    $(function() {
        $("#datetimepicker1 ").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>{% endblock %}