{% extends "pacientes/base.html" %} {% load static %}
<!--  -->
{% block links %}
<!-- Links de CCS -->

<link rel="stylesheet" type="text/css" href="{% static 'css/cuentaPaciente.css' %}"> {% endblock %}



<!-- Bloque de contenido -->
{% block contenido %}

<!-- Mensaje -->
{% if mensaje != None %}
<dialog id='modal'>
    <div class='content-modal'>
        <div class='modal-png'>
            <img class='img-visto' src="{% static 'medicos/img/aceptar.png' %}" alt='Visto'>
        </div>
        <div class='modal-msg'>
            <p>{{mensaje}}</p>
        </div>
        <div class='modal-btn'>
            <button type='button' id='btn-close-modal'>Aceptar</button>
        </div>
    </div>
</dialog>
<script>
    const modal = document.querySelector('#modal');
    const cerrarmodal = document.querySelector('#btn-close-modal');
    modal.showModal();
    cerrarmodal.addEventListener('click', () => {
        modal.close();
    });
</script>
{% endif %}
<h3>Actualizar Información</h3>
<!-- Formulario Actualizacion -->
<form class="form-update" action="datos" method="post">
    <div class="contenido-formulario">
        {% csrf_token %} {% for campo in formulario_actualizacion %}
        <div class="form-campo">
            {{ campo.errors }} {{ campo.label_tag }} {{ campo }}
        </div>
        {% endfor %}
    </div>
    <div class="guardar">
        <input id="Boton-submit" type="submit" value="Enviar" style=" width: 150px;">
    </div>
</form>
<br>
<h3>Cambiar Contraseña</h3>
<!-- Formulario Cambiar Contraseña -->
<form class="form-password" action="contraseña" method="post">
    <div class="contenido-formulario">
        {% csrf_token %} {% for campo in formulario_cambiar_contraseña %}
        <div class="form-campo">
            {{ campo.errors }} {{ campo.label_tag }} {{ campo }}
        </div>
        {% endfor %}
    </div>
    <div class="guardar">
        <input id="Boton-submit" type="submit" value="Enviar" style=" width: 150px;">
    </div>
</form>

{% endblock %}