{% extends "pacientes/base.html" %} {% block contenido %}


<!-- Mensajes -->
{% if mensaje != None %}
<div class="mensaje">{{mensaje}}</div>

{% endif %}



<div class="especialidades">
    {% for especialidad in especialidades %}
    <a href="{{especialidad.nombre}}">{{especialidad.nombre}}</a> {% endfor %}
</div>


<div id="controles_fecha">
    <a href="?fecha={{anterior_semana.day}}-{{anterior_semana.month}}-{{anterior_semana.year}}">Anterior
        {{anterior_semana}}</a>
    <a href="?fecha={{siguiente_semana.day}}-{{siguiente_semana.month}}-{{siguiente_semana.year}}">Siguiente
        {{siguiente_semana}}</a>
</div>


<div id="contenedor_tabla_turno">
    <table class="datatable">
        <thead>
            <tr>
                <th>Accion</th>
                <th>Hora</th>
                <th>Medico</th>
            </tr>
        </thead>
        {% for dia, turnos_dia in turnos.items %}
        <tr>
            <td colspan="5">
                {{dia.day}}/{{dia.month}}/{{dia.year}}
            </td>
        </tr>
        {% for turno in turnos_dia %}
        <tr>
            <td><a href="agendar_cita/{{turno.id}}/{{fecha_mostrada.day}}-{{fecha_mostrada.month}}-{{fecha_mostrada.year}}/{{especialidad_mostrada}}">Agendar</a></td>
            <td>{{turno.fecha|date:' H:i'}}</td>
            <td>{{medicos|get_value:turno.id}}</td>
        </tr>
        {% endfor %} {% endfor %}
    </table>
</div>
</div>
{% endblock %}